<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="team2" frontName="team2">
            <module name="Team2BrowseAll_OnePageProducts" />
        </route>
    </router>
</config>
